.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;

  .logo {
    width: 400px;
    max-width: 100%;
  }

  .description {
    font-size: 16px;
    margin-bottom: 10px;

    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .name-form-field {
    width: 300px;
  }

  .name-card {
    width: 300px;
    max-width: 100%;
    margin-bottom: 10px;

    .mat-mdc-card-header-text {
      flex-grow: 1;
    }

    .action-icon {
      cursor: pointer;
    }

    mat-icon.icon-small {
      font-size: 18px;
      height: 18px;
      width: 18px;
    }
  }

  .result {
    display: flex;
    flex-direction: column;
    align-items: center;

    .chart-canvas {
      width: 600px;
      max-width: 100%;
    }
  }
}
